.checkout-container {
  margin: 10% 20%;
}

.checkout-btn-green:hover {
  background-color: #50b19a;
}

.checkout-input {
  width: 20%;
  border-radius: 5px;
  padding: 0.8% 1.5%;
  border: 2px solid rgb(145, 167, 214);
  font-size: small;
}

.checkout-input:focus {
  border: 2px solid rgb(145, 167, 214);
  background-color: #e7f0f2;
}

.checkout-label {
  text-align: left;
  padding: 0.25rem;
  font-weight: bold;
  margin: 0 0 2rem;
  font-size: large;
}

.checkout-heading {
  font-size: larger;
  color: #18687c;
}

.cart-list-container {
  display: flex;
  gap: 4rem;
  align-items: center;
  background-color: #c8e0f8;
  border: solid #314789 2px;
  border-radius: 5px;
  padding: 3rem;
  margin: 2rem 0;
}


.cart-list-container > img {
  width: 35%;
  border-radius: 5px;
}